.categories {
  height: 100%;
}

.categories__title {
  color: black;
  font-size: 2rem;
  margin-top: 2em;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 2rem;
  padding-top: 2rem;
  width: 100%;
  margin-top: 2rem;
}