.galery-center{
    background-color: #15D4BE;
}


.favoritesTitle{
    padding-top: 10rem;
}

.main__container {
    display: grid;
    height: max-content;
    
    }

@media screen and (max-width: 500px) {
    .main__container {
 
    margin-bottom: 100%;
    display: grid;
    height: max-content;
    }
  }

